<% content_for :title, "Handle | Home" %>

<h1>Need Search Bar HERE</h1>

<h1><%= current_user.name %></h1>
<h2><%= current_user.handle %></h2>
<h2><%= current_user.email %></h2>

<h1>Friend Name</h1>
